@import url(http://fonts.googleapis.com/css?family=Antic+Slab);

html,body {
  height:100%;
}

h1 {
  font-family: 'Antic Slab', serif;
  font-size:90px;
  color:#000000;
}

hf {
  color:#000000;
}

.lead {
	color:#FFFFFF;
}


/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background-color:#FFFFFF;
  color:#eee;
  overflow:hidden;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}

.woof-message {
  cursor: pointer;
}

.woof-message:hover button.close {
  color: #000;
  opacity: .5;
}

div.x-woof-message-container.pre-insert, div.x-woof-message-container.destroyed {
/*   -webkit-transform: scaleY(0); */
  opacity: 0;
}

div.x-woof-message-container {
/*   -webkit-transform: scaleY(1);
  -webkit-transform-origin: top;
   */
  -webkit-transition: all 0.25s ease;
}
